{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}

{% block content %}
    {% addtoblock 'css' %}

    {% endaddtoblock %}

    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-30 parallax-2"
             data-background="/hiennv/static/images/resources/device-bg-1.jpg" id="home">
        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        {% for tag in tags %}
                            {% if forloop.last %}
                                {{ tag.name }}
                            {% else %}
                                {{ tag.name }} /
                            {% endif %}

                        {% endfor %}
                    </h1>

                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        My Portfolio
                    </h2>

                </div>
            </div>
            <!-- End Hero Content -->

            <!-- Scroll Down -->
            <div class="local-scroll">
                <a href="#portfolioList" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
            </div>
            <!-- End Scroll Down -->

        </div>
    </section>
    <!-- End Home Section -->

    <!-- Portfolio Section -->
    <section class="page-section" id="portfolioList">
        <div class="container relative">

            <!-- Works Filter -->
            <div class="works-filter font-alt align-center">
                <a href="#" class="filter active" data-filter="*">All works</a>
                {% for tag in tags.all %}
                    <a href="#{{ tag.filter_tag }}" class="filter" data-filter=".{{ tag.filter_tag }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <!-- End Works Filter -->

            <!-- Works Grid -->
            <ul class="works-grid work-grid-1 clearfix font-alt hover-white hide-titles" id="work-grid">
                {% for project in object_list %}
                <!-- Work Item (Lightbox) -->
                <li class="work-item portfolio-item mix {% for tag in project.tags.all %} {{ tag.filter_tag }} {% endfor %}">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="font-alt mt-0 mb-20"><a href="/hiennv/portfolio/{{ project.slug }}">{{ project.title }}</a>
                                <ul class="pull-right ul-list-media-asset">

                                    {% if project.demo_url != '' and project.demo_url is not None %}
                                    <li>
                                        <a href="{{ project.demo_url }}" target="_blank">
                                            <i class="portfolio-icon fa fa-globe portfolio-icon-item"></i>
                                        </a>
                                    </li>
                                    {% endif %}
{##}
{#                                    <li>#}
{#                                        <a href="/" target="_blank">#}
{#                                            <i class="portfolio-icon fa fa-phone portfolio-icon-item"></i>#}
{#                                        </a>#}
{#                                    </li>#}
                                    {% if project.youtube_embed_url != '' and project.youtube_embed_url is not None %}
                                        <li>
                                            <a href="{{ project.youtube_embed_url }}"
                                               class="lightbox mfp-iframe">
                                                <i class="portfolio-icon fa fa-youtube-play portfolio-icon-item"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if project.mediaasset_set.all|length != 0 %}
                                        <li>
                                        {% for media in project.mediaasset_set.all %}

                                            {% if forloop.first %}
                                            <a href="{{ media.media_asset.url }}" class="lightbox-gallery-{{ project.slug }} mfp-image">
                                                <i class="portfolio-icon fa fa-image portfolio-icon-item"></i>
                                            </a>
                                            {% else %}
                                            <a href="{{ media.media_asset.url }}" class="lightbox-gallery-{{ project.slug }} mfp-image display_none">
                                            </a>
                                            {% endif %}

                                        {% endfor %}
                                        </li>
                                    {% endif %}

                                </ul>
                            </h4>
                        </div>
                        <div class="col-md-4 mb-sm-50 mb-xs-30">
                                <!-- Project Detail -->
                                <div class="work-detail">
                                    <div class="work-full-detail">
                                        <p>
                                            <strong>Client:</strong>
                                            {{ project.client }}
                                        </p>
                                        <p>
                                            <strong>Length:</strong>
                                            {{ project.length }}
                                        </p>
                                        <p>
                                            <strong>Roles:</strong>
                                            {{ project.roles }}
                                        </p>
                                        <p>
                                            <strong>Skills:</strong>
                                            {{ project.skills }}
                                        </p>
                                        {% if project.demo_url != '' and project.demo_url is not None %}
                                        <p>
                                            <strong>Demo:</strong>
                                            <a href="{{ project.demo_url }}" target="_blank">link</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- End Project Detail -->
                        </div>
                        <div class="col-md-8 mb-sm-50 mb-xs-30 text-normal">
                            <p>{{ project.short_description  }}</p>
                        </div>
                    </div>
                </li>
                <!-- End Work Item -->

                {% endfor %}

            </ul>
            <!-- End Works Grid -->

        </div>
    </section>
    <!-- End Portfolio Section -->

    {% addtoblock 'js' %}
        <script>
        slugList = {{ slug_list|safe }}
            for (i = 0; i < {{ slug_list|length }}; i++) {
                $(".lightbox-gallery-" + slugList[i]).magnificPopup({
                    gallery: {
                        enabled: true
                    }
                });
            }
        </script>

    {% endaddtoblock %}

{% endblock %}