.work-grid-1 .work-item {
    width: 100%;
}

.display_none {
    display: none!important;
}

.text-normal {
    text-transform: none;
}

.ul-list-media-asset li {
    display: inline!important;
    list-style-type: none!important;
}

.portfolio-icon {
    margin-right: 10px;
}

.portfolio-icon-item {
    color: black;
    font-size: 1.3em;
}

.portfolio-icon-item:hover {
    opacity: 0.8!important;
}

.ul-list-media-asset li a {
    text-decoration: none!important;
}

.portfolio-item {
    margin-top: 20px;
}

.hire_me_btn_style {
    color: #37a200 !important;
}

.hire_me_btn_style:hover {
    color: #48e300 !important;
}