{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% addtoblock "css" %}

    {% endaddtoblock %}

    <!-- Introduction -->
    {% placeholder hero_area %}
    <!-- End Introduction -->

    <!-- About Me -->
    {% placeholder contact_me %}
    <!-- End About Me -->

    {% addtoblock "js" %}
        <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below
        **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgecIdkh02IhiRMMyIceV6DxYfiL_FQWM"></script>
    {% endaddtoblock %}
{% endblock content %}
