{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="/static/css/flaticon.css">
        <link rel="stylesheet" href="/static/css/custom_flaticon.css">
    {% endaddtoblock %}

    <!-- Introduction -->
    {% placeholder hero_area %}
    <!-- End Introduction -->

    <!-- About Me -->
    {% placeholder about_me %}
    <!-- End About Me -->

    <!-- Call action Contact Me -->
    {% placeholder call_action %}
    <!-- End Call action Contact Me -->

    <!-- latest Work List -->
    {% placeholder latest_work %}
    <!-- End Latest Work -->

    <!-- Testimonial -->
    {% placeholder services %}
    <!-- End Testimonial -->

    <!-- Testimonial -->
    {% placeholder testimonial %}
    <!-- End Testimonial -->

    {% addtoblock "js" %}

    {% endaddtoblock %}
{% endblock content %}
