{% extends "base.html" %}
{% load cms_tags sekizai_tags compress %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% addtoblock "css" %}
{#        {% compress css %}#}
        <link rel="stylesheet" href="/hiennv/static/css/flaticon.css">
        <link rel="stylesheet" href="/hiennv/static/css/custom_flaticon.css">
{#        {% endcompress %}#}
    {% endaddtoblock %}

    <!-- Introduction -->
    {% placeholder hero_area %}
    <!-- End Introduction -->

    <!-- About Me -->
    {% placeholder about_me %}
    <!-- End About Me -->

    <!-- Call action Contact Me -->
    {% placeholder call_action %}
    <!-- End Call action Contact Me -->

    <!-- latest Work List -->
    {% placeholder latest_work %}
    <!-- End Latest Work -->

    <!-- Services -->
    {% placeholder services %}
    <!-- End Services -->

    <!-- Contact Me -->
    {% placeholder contact_me %}
    <!-- End Contact Me -->

    <!-- Testimonial -->
    {% placeholder testimonial %}
    <!-- End Testimonial -->

    {% addtoblock "js" %}

    {% endaddtoblock %}
{% endblock content %}
